---
import '../styles/global.css';
import logo from '../assets/logo.ico';

interface Props {
	title?: string;
}

const { title = "Drill Masters" } = Astro.props;
---

<!doctype html>
<html class="light" lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href={logo} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800;900&family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap" rel="stylesheet">
	</head>
	<body class="bg-background-light dark:bg-background-dark text-[#000000] dark:text-gray-100">
		<slot />
	</body>
</html>
